# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
tests/

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
venvransomwatchtest/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# API Keys
.env
*.key

# Logs
*.log
